@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
  vertical-align: baseline;
  align-content: center;
  font-family: 'Roboto', 'Courier';
  background-color: #F3F2F3;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 1vw;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid black;
  font-size: 40%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.nav-link:hover {
  color: #0f0f12;
}

.nav-logo {
  font-size: 1.6rem;
  font-weight: 500;
  color: #9E8D7C;
}

.reviews-title {
  margin: 2%;
}

.reviews-filter {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}

.dropdown-label {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.dropdown {
  width: 40vw;
  height: 3vh;
  text-align: center;
  padding: 1rem;
}

.reviews-card {
  margin: 3%;
}

.review-image {
  max-width: 40%;
  margin: 2%;
}

.review-body {
  text-align: center;
  margin: 2% 10% 2% 10%;
}

.comment-button {
  box-shadow: 5%;
  background-color: white;
  padding: 0.8%;
  margin: 0.5%;
  border-radius: 18px;
}

.comments-list {
  list-style-type: decimal;
  margin: 2% 10% 2% 10%;
}

.like-button {
  padding: 0.2%;
  border-radius: 30%;
  margin: 0.2%;
}

.error-message {
  color: red;
}

.show-comments {
  color: green;
}

.hide-comments {
  color: red;
}

.add-comment {
  color: green;
}

/* .single-review-card {
  display: flex;
  flex-direction: column;
} */

/* @media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
      0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

} */
